{% extends 'base.html' %}
{% block 'main' %}
  
    <div style="background-image: url('static/images/about4.jpeg');">
        <h1>About US</h1>

    <p>Welcome to VK Shop! We are dedicated to providing high-quality products and excellent customer service. Our goal is to offer a wide range of our product category that meets the diverse needs of our customers.</p>

    <p>At VK Shop, we believe in the importance of building strong relationships with our customers. We strive to create a positive shopping experience by offering top-notch products, timely delivery, and friendly customer support.</p>

    <p>Why choose VK Shop?</p>
    <ul>
        <li>Quality Products: We source our products from reputable suppliers to ensure the highest quality.</li>
        <li>Customer Satisfaction: Your satisfaction is our top priority, and we are here to assist you at every step.</li>
        <li>Wide Selection: Explore our diverse range of product category to find exactly what you're looking for.</li>
        <li>Secure Shopping: Shop with confidence knowing that your personal information is secure with us.</li>
    </ul>

    <p>Thank you for choosing VK Shop . We appreciate your trust and look forward to serving you!</p>

    </div>
    
{% endblock 'main' %}





