{% extends 'base.html' %}
{% block 'main' %}
    <div style="background-image: url('static/images/contact1 (1).jpg');">
        <h1>Contact US</h1>

    <p>
        Welcome to VK Shop ! We're delighted to assist you. Whether you have questions about our products, need help with an order, or just want to say hello, we're here to listen.
    </p>

    <p>Feel free to reach out to us using the contact: vkshop@gmail.com</p>

    <p>If you prefer face-to-face interaction, why not visit our physical store? Our friendly staff will be happy to assist you and guide you through our range of products.</p>
    <p>Have a quick question or need immediate assistance? Give us a call at 9823352828 and our team will be ready to help.</p>
    <p>Thank you for choosing VK Shop. We value your feedback and look forward to serving you!</p>
    </div>
    
{% endblock 'main' %}
